body {
	font-family: 'Poppins', sans-serif;
	color: #676858;
	font-weight: 400;
}

.text-muted {
	color: #9a9a98;
}

.text-thin {
	font-weight: 300;
}

.title-super {
	font-size: 40px;
}

.title-logo {
	margin-top: 20px;
}

.rule-thick {
	border-top: 3px solid #c0c0c0;
}

/*Reduce font sizes at 500px breakpoint*/
@media screen and (max-width: 500px) {
	.title-super {
		font-size: 30px;
	}
	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 18px;
	}
	h4 {
		font-size: 14px;
	}
	p {
		font-size: 12px;
	}
}